body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.container {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;
    height: 70px;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
}
.secciones{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.seccion{
    padding: 5px;
}
.footer{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}
.nombre{
    color: white;
    font-weight: 600;
}
.secciones-container{
    margin: 20px 0px 20px 0px;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.seccion-inicio{
    width: 100%;

}

.fila-peliculas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}
.pelicula-inicio{
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
}
.img-pelicula-inicio{
    height: 650px;
    border-bottom: solid 1px gray;
}
.detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 92vh;
    
}
.detail-img-container{
    height: 100%;
}
.detail-img{
    height: 100%;
}
.detail-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 0px 15px 0px 15px;
    color: white;
}

.favoritos{
    color: white;
}

.favoritos-subtitulos{
    align-self: flex-start;
}
.generos{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.genero{
    width: 30%;
    background-color: white;
    margin: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.genero-subtitulo{
    align-self: flex-start;
    margin-left:15px;
    color: gold;
}
.subtitulo-peli{
    align-self: flex-start;
    margin-left: 20px;
}

.genero-link{
    width: 100%;
    height: 100%;
    text-align: center;
}
.decoracion{
    color: gold;
}