@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Outfit:wght@600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

h1{
    font-family: 'Outfit', sans-serif;
    font-size: 55px;
    align-self: center;
    margin-right: 20px;
    color: #fff;
}

h2{
    font-family: 'Outfit', sans-serif;
    font-size: 40px;
}

.container {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/fondoND.jpeg");
    background-position: center;
    background-repeat: repeat;
}

.header {
    width: 100%;
    height: 70px;
    background-color: black;
    border-bottom: solid 1px rgb(222, 206, 126);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 50px;
}
.secciones{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.seccion{
    padding: 5px;
    color: white;
    width: 80px;
    text-align: center;
}

.activa{
    color: rgb(222, 206, 126);
}

.seccion:hover{
    color: rgb(222, 206, 126);
    transition: all ease-in-out 100ms;
}

.banner{
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #000;
    border: solid 1px rgb(201, 184, 100);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 90%;
    box-shadow: 0px 1px 1px 0px rgba(224, 202, 113, 0.7),
            1px 1px 2px 0px rgba(224, 202, 113, 0.7),
            1px 2px 4px 0px rgba(224, 202, 113, 0.7),
            2px 2px 6px 0px rgba(224, 202, 113, 0.7);
}

.banner img{
    height: 60%;
    margin-right: 20px;
    margin-left: 20px;
}


.footer{
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border-top: solid 1px rgb(201, 184, 100);
}
.nombre{
    color: white;
    font-weight: 600;
}
.secciones-container{
    margin-bottom: 20px;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}
.seccion-inicio{
    width: 100%;
}

#peliculas{
    margin-top: 0px;
}

.fila-peliculas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.pelicula-inicio{
    width: 30%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px gray;
    background-color: black;
    margin-bottom: 20px;
}

.pelicula-inicio:hover{
    border-color: #fff;
}

.img-pelicula-inicio{
    height: 470px;
    border-bottom: solid 1px gray;
}
.detail-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 92vh;
    
}
.detail-img-container{
    height: 100%;
}
.detail-img{
    height: 100%;
}
.detail-info{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    padding: 0px 15px 0px 15px;
    color: white;
}

.favoritos{
    color: white;
}

.mid-container{
    display: flex;
    flex-direction: column;
    width: 90%;
}



.favoritos-subtitulos{
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
}

.generos{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.genero{
    width: 32%;
    background-color: black;
    margin: 0.1%;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px rgb(222, 206, 126);
    color: #fff;
    font-size: 16px;
}

.genero p{
    color: #fff;
}

.genero:hover{
    background-color: #fff;
}

.genero:hover p{
    color: #000;
}


.genero-subtitulo{
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;

}
.subtitulo-peli{
    align-self: flex-start;
    margin-left: 20px;
}

.genero-link{
    width: 100%;
    height: 100%;
    text-align: center;
}

.form-input{
    width: 70px;
    font-size: 16px;
    padding: 5px;
    width: 200px;
}

.btn-submit{
    padding: 5px;
    font-size: 16px;
}
.boton-favoritos{
    width: 200px;
    height: 70px;
    border: solid 1px gold;
    font-size: 16px;
    background-color: black;
    font-family: 'Outfit', sans-serif;
    color: gold;
    margin-top: 15px;
   }
   .boton-favoritos:hover{
    border: solid 1px white;
    color: white;
    cursor: pointer;
   }

@media(max-width: 412px){
    .header{
        height: auto;
        align-items: flex-start;
        padding-top: 10px;
    }
    .secciones{
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin: 0px;
        text-align: start;
        padding: 0px;
    }
    .formulario{
        display: flex;
        flex-direction: column;
    }
    .form-input{
        width: 70px;
    }
    .fila-peliculas{
        flex-direction: column;
    }
    .pelicula-inicio{
        width: 100%;
        margin-bottom: 40px;
    }

    .pelicula-inicio img{
        height: 500px;
    }

    .detail-container{
        flex-direction: column;
        height: auto;
    }
    .detail-img{
        width: 100%;
    }

    .banner h1{
        font-size: 40px;
        margin: 0px;
    }

    .banner{
        width: 95%;
        justify-content: flex-end;
    }

    .banner img{
        margin: 0px;
        height: 60%;
    }

    .primer-logo{
        display: none;
    }
}